<!DOCTYPE html>
<html>
<head>
	<title>
		Welcome to the translator
		
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/bootstrap.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="bootstrap-grid.css"> -->
	<style type="text/css">
		body{background-color: wheat;}
		
		label{font-size:20px; color:#3b5998; font-weight: bold;}
		#main{background-color: #3b5998; border-bottom:2px solid black;}
		
	</style>

</head>
<body>
	
	<form method="post" action="/short_link">
	<div class="container-fluid">
		<div class="row row-cols-1 sticky-top" style="background-color:#3b5998;" id="main">
			<div class="col text-center h1 font-weight-bolder mt-2" style="font-size:50px;font-family:calibri;color:white;">
				Link Shortner
			</div>
			<div class="col text-center" style="color:white;">short link in many style</div>
		</div>

		<center><h1>URL</h1></center>

				<div class="row">
					<div class="col-md-5 offset-md-3  mt-5">
						<div class="form-group">
							<input type="text" name="a" class="form-control form-control-lg" placeholder="Enter URL here.....">
			
						</div>
					</div>
				</div>
		

			<div class="row">
			<div class="col-md-5 offset-md-3 mt-3 pt-2">
				<label class="l">Choose link shortner</label>
			</div>
		</div>
		
			<div class="row">

				<div class="col-md-5 offset-md-3  mt-3">
					<div class="form-group">
						<select class="form-control" name="b">
							<option value="dagd">da.gd</option>
							<option value="tinyurl">tinyurl.com</option>
							<option value="chilpit">chilp.it</option>
							<option value='isgd'>is.gd</option>
							<option value='nullpointer'>0x0.st</option>
							<option value='osdb'>osdb.link</option>
							<option value='qpsru'>qps.ru</option>
							
						</select>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="col-md-5 offset-md-3 mt-3">
					<div class="form-group ">
					<button type="submit" value="Translate" class="btn btn-success" name="btn">Generate Link</button>
					</div>
				</div>
			</div>
			</form>
			<div class="row ">
				<div class="col-md-5 offset-md-3  mt-3">
					<div class="form-group">
						<input type="text" name="" class="form-control form-control-lg bg-white"value="{{c}}" readonly>
		
					</div>
				
				</div>
			</div>
		
	</div>

</body>
</html>
